# add any pycharm specific files here
.idea/
*.iml
*.iws
*.ipr
.DS_Store
__pycache__/
*.pyc
.vscode/
.env
.env.*
.venv/
venv/
env//
ENV/
env.bak/
env.old/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*/zooPopulationReport.txt
zooPopulationReport.txt
